.listswrapper {
  overflow-y: auto;
}
dd {
  padding: 5px;
  transition: all 0.5s;
}
dd:hover {
  background-color: rgb(201, 188, 188);
  color: black;
  cursor: pointer;
}
.navlink {
  text-decoration: none !important;
  color: black;
}
.active {
  background-color: red;
  color: black;
}
@media screen and (max-width: 850px) {
  .listswrapper {
    display: none;
  }

  .navlink {
    text-decoration: none !important;
    color: white;
  }
}
